<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:name=".App"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.Gym_Log_Book"
		tools:targetApi="31">

		<activity
			android:name=".main_activity_v2.MainActivity"
			android:exported="true"
			android:label="@string/title_activity_main_v2"
			android:launchMode="singleInstance"
			android:theme="@style/Theme.Gym_Log_Book">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".main_activity.MainActivity"
			android:exported="true"
			android:label="@string/title_activity_main"
			android:launchMode="singleInstance"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Gym_Log_Book.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".add_weight_activity.AddWeightActivity"
			android:exported="false"
			android:label="@string/title_activity_add_weight"
			android:theme="@style/Theme.Gym_Log_Book.NoActionBar" />

		<activity
			android:name=".add_exercise_activity.AddExerciseSetActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.Gym_Log_Book.NoActionBar" />

		<activity
			android:name=".exercise_set_guide_activity.ExerciseSetGuideActivity"
			android:exported="true"
			android:label="@string/title_activity_exercise_set_guide"
			android:launchMode="singleInstancePerTask"
			android:theme="@style/Theme.Gym_Log_Book" />

	</application>
</manifest>