<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<application
		android:name=".app.App"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:enableOnBackInvokedCallback="true"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.Gym_Log_Book">

		<!-- Main activity -->
		<activity
			android:name=".activity.main_activity.MainActivity"
			android:exported="true"
			android:label="@string/main_activity_title"
			android:launchMode="singleInstancePerTask"
			android:enableOnBackInvokedCallback="true"
			android:theme="@style/Theme.Gym_Log_Book">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="gym_log_book" />
				<data android:host="home.british-information-technologies.org" />
			</intent-filter>
		</activity>
		<!-- Onboarding activity -->
		<activity
			android:name=".activity.onboarding_activity.OnboardingActivity"
			android:exported="true"
			android:label="@string/title_activity_onboarding"
			android:launchMode="singleInstance"
			android:theme="@style/Theme.Gym_Log_Book" />
		<!-- Exercise guidance activities -->
		<activity
			android:name=".activity.exercise_set_guide_activity.ExerciseSetGuideActivity"
			android:exported="true"
			android:label="@string/title_activity_exercise_set_guide"
			android:launchMode="singleInstance"
			android:resizeableActivity="true"
			android:theme="@style/Theme.Gym_Log_Book"
			tools:ignore="LockedOrientationActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="gym_log_book" />
				<data android:host="guide.british-information-technologies.org" />
				<data android:path="/resume" />
			</intent-filter>
		</activity>
		<!-- Settings activity -->
		<activity
			android:name=".activity.settings_activity.SettingsActivity"
			android:exported="false"
			android:label="@string/title_activity_settings"
			android:theme="@style/Theme.Gym_Log_Book" />
		<!-- internal activities -->
		<activity
			android:name=".activity.internal.tasks_activity.TaskActivity"
			android:exported="false"
			android:label="@string/title_activity_task"
			android:launchMode="singleInstancePerTask"
			android:theme="@style/Theme.Gym_Log_Book" />
		<activity
			android:name=".activity.internal.debug_settings_activity.DebugSettingsActivity"
			android:exported="true"
			android:label="@string/title_activity_debug_settings"
			android:launchMode="singleInstancePerTask"
			android:theme="@style/Theme.Gym_Log_Book" /> <!-- Services -->
		<activity
			android:name=".activity.data_export.DataExportActivity"
			android:exported="false"
			android:label="@string/title_activity_data_export"
			android:theme="@style/Theme.Gym_Log_Book.Dialogue" />

		<service
			android:name=".service.DataImporterService"
			android:exported="false" />
	</application>
</manifest>